body {
    background-color: black;
}

main#container {
    background-color: rgb(41, 39, 39);
    border: solid 2px red;
}

h1.titulo {
    color: orange;
}

p.frase {
    color: white;
}

p.autor {
    color: orange;
}